# Bassam Alboushi-202110352

## In the first step, some preporcessing will be made on the dataset to be sure that it is ready to be apply on the classification model

In [1]:
#All libraries that will be used
import numpy as np
import pandas as pd
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

In [2]:
APS_train_data =  pd.read_csv("train.csv") #get the training data
APS_test_data = pd.read_csv("test.csv") #get the testing data

In [3]:
APS_train_data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [4]:
APS_test_data.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [5]:
#Drop the unnamed column from the train and test dataset
APS_test_data = APS_test_data.drop(columns=['Unnamed: 0'])
APS_train_data = APS_train_data.drop(columns=['Unnamed: 0'])

In [6]:
#Show the dataset after drop the unnamed column
APS_train_data.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [7]:
APS_test_data.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [8]:
#Check for Null values if exist in datasets
APS_train_data.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [9]:
APS_test_data.isna().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [10]:
#Fill the NULL values in both train and test datasets, here I will use the mean of column that contain NULL values
mean_train = APS_train_data['Arrival Delay in Minutes'].mean()
mean_test = APS_test_data['Arrival Delay in Minutes'].mean()

APS_train_data['Arrival Delay in Minutes'].fillna(mean_train, inplace = True)
APS_test_data['Arrival Delay in Minutes'].fillna(mean_test, inplace = True)

In [11]:
#Recheck for NULL values
APS_train_data.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [12]:
APS_test_data.isna().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [13]:
#Describe the both train and test dataests
APS_train_data.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000
mean,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.640909
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [14]:
APS_test_data.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.00000,25976.000000
mean,65005.657992,39.620958,1193.788459,2.724746,3.046812,2.756775,2.977094,3.215353,3.261665,3.449222,3.357753,3.385664,3.350169,3.633238,3.314175,3.649253,3.286226,14.30609,14.740857
std,37611.526647,15.135685,998.683999,1.335384,1.533371,1.412951,1.282133,1.331506,1.355536,1.320090,1.338299,1.282088,1.318862,1.176525,1.269332,1.180681,1.319330,37.42316,37.457549
min,17.000000,7.000000,31.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000
25%,32170.500000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.00000,0.000000
50%,65319.500000,40.000000,849.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.00000,0.000000
75%,97584.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.00000,13.000000
max,129877.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1128.00000,1115.000000

## Next step will be the feature engineering to decide the features that will be included in my study

### Firstly, I made the feature engineering using Recursive Feature Elimination (RFE) with the most 12 features that the RFE sees them as the most important features that affects in the classification accuracy. In addition, I will validate the model that I studied in the RFE

In [15]:
#Convert the dataset in both train and test to numeric data that the classifier can treat with easily
APS_train_data['Gender'] = APS_train_data['Gender'].replace({'Male': 0, 'Female': 1})
APS_train_data['Customer Type'] = APS_train_data['Customer Type'].replace({'Loyal Customer': 0, 'disloyal Customer': 1})
APS_train_data['Type of Travel'] = APS_train_data['Type of Travel'].replace({'Personal Travel': 0, 'Business travel': 1})
APS_train_data['Class'] = APS_train_data['Class'].replace({'Eco': 0, 'Eco Plus': 1, 'Business' : 2})
APS_train_data['satisfaction'] = APS_train_data['satisfaction'].replace({'neutral or dissatisfied': 1, 'satisfied' : 2})

APS_test_data['Gender'] = APS_test_data['Gender'].replace({'Male': 0, 'Female': 1})
APS_test_data['Customer Type'] = APS_test_data['Customer Type'].replace({'Loyal Customer': 0, 'disloyal Customer': 1})
APS_test_data['Type of Travel'] = APS_test_data['Type of Travel'].replace({'Personal Travel': 0, 'Business travel': 1})
APS_test_data['Class'] = APS_test_data['Class'].replace({'Eco': 0, 'Eco Plus': 1, 'Business' : 2})
APS_test_data['satisfaction'] = APS_test_data['satisfaction'].replace({'neutral or dissatisfied': 1, 'satisfied' : 2})

In [16]:
#CHECK THE TEST DATASET
APS_test_data

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,1,0,52,1,0,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,2
1,90035,1,0,36,1,2,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,2
2,12360,0,1,20,1,0,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,1
3,77959,0,0,44,1,2,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,2
4,36875,1,0,49,1,0,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,0,1,34,1,2,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,1
25972,71167,0,0,23,1,2,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,2
25973,37675,1,0,17,0,0,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,1
25974,90086,0,0,14,1,2,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,2
25975,34799,1,0,42,0,0,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,1

In [17]:
#CHECK THE TRAIN DATASET
APS_train_data

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,0,0,13,0,1,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,1
1,5047,0,1,25,1,2,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,1
2,110028,1,0,26,1,2,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,2
3,24026,1,0,25,1,2,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,1
4,119299,0,0,61,1,2,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,1,1,23,1,0,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,1
103900,73097,0,0,49,1,2,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,2
103901,68825,0,1,30,1,2,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,1
103902,54173,1,1,22,1,0,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,1
103903,62567,0,0,27,1,2,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,1

In [18]:
test_of_FE = APS_train_data
X = test_of_FE.iloc[:, :-1]
Y = test_of_FE['satisfaction']

In [19]:
model = RandomForestClassifier ()
rfe = RFE(estimator = model , n_features_to_select = 12)
X_rfe = rfe.fit_transform (X, Y)

In [20]:
# Get the selected features
selected_features = [X.columns[i] for i in range(len(X.columns)) if rfe.support_ [i]]
print("Selected features: ", selected_features)

Selected features:  ['id', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 'Ease of Online booking', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'Leg room service']

In [21]:
#Drop the non-selected features to train the model with the selected features
columns_to_drop = ['Gender', 'Customer Type', 'Departure/Arrival time convenient', 'Gate location', 'Food and drink', 'Departure Delay in Minutes',
                  'Arrival Delay in Minutes', 'Checkin service', 'Inflight service', 'Baggage handling', 'Cleanliness']
test_of_FE = test_of_FE.drop(columns = columns_to_drop, axis = 1, inplace=False)

In [22]:
#Set the new dataset that will be used for training the model with the selected features from RFE
X_train = test_of_FE.iloc[:, :-1]
Y_train = test_of_FE['satisfaction']

In [23]:
#Train the random forest classifier
rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, Y_train)

RandomForestClassifier()

In [24]:
#Get the testing dataset and drop the non-selected features as we did in the training dataset
dataset_with_rfe_features_for_test = APS_test_data
columns_to_drop = ['Gender', 'Customer Type', 'Departure/Arrival time convenient', 'Gate location', 'Food and drink', 'Departure Delay in Minutes',
                  'Arrival Delay in Minutes', 'Checkin service', 'Inflight service', 'Baggage handling', 'Cleanliness']
dataset_with_rfe_features_for_test = dataset_with_rfe_features_for_test.drop(columns = columns_to_drop, axis = 1, inplace=False)

In [25]:
X_test = dataset_with_rfe_features_for_test.iloc[:, :-1]
Y_test = dataset_with_rfe_features_for_test['satisfaction']

In [26]:
#Predict the labeles for the testing dataset 
Y_pred = rf_clf.predict(X_test)

In [27]:
#For the evaluation of the RFE selected features model, I will use the metrices measurment and cross validation
clf_cross = RandomForestClassifier()
scores = cross_val_score(clf_cross, X_train, Y_train, cv = 10, scoring='accuracy')
scores

array([0.94966798, 0.94822442, 0.94803195, 0.95236262, 0.94754572,
       0.94889317, 0.95178056, 0.95120308, 0.95216554, 0.95216554])

In [28]:
clf_y_pred = cross_val_predict(clf_cross, X_test, Y_test, cv=10)
report = classification_report(Y_test, clf_y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.94      0.96      0.95     14573
           2       0.95      0.92      0.94     11403

    accuracy                           0.94     25976
   macro avg       0.95      0.94      0.94     25976
weighted avg       0.94      0.94      0.94     25976

In [29]:
cm = confusion_matrix(Y_test, Y_pred)
accuracy = accuracy_score(Y_test, Y_pred)
precision = precision_score(Y_test, Y_pred, average='weighted')
recall = recall_score(Y_test, Y_pred, average='weighted')
f1 = f1_score(Y_test, Y_pred, average='weighted')
print("Confusion Matrix for the measurment of classification:")
print(cm)
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Confusion Matrix for the measurment of classification:
[[14090   483]
 [  871 10532]]
Accuracy: 0.9478749615029258
Precision: 0.9480895853869068
Recall: 0.9478749615029258
F1 Score: 0.9477662776758736

# And with those results, I finished the study on the RFE and its selected features,  so I can move to manually select the features to make the classification with the same classifier and compare the results

### Now, I will select the most important features depends on my simple experience with customer service satisfaction

In [30]:
#Select 12 features from the dataset
manually_selected_features = ['Age', 'Gender', 'Customer Type', 'Class','Flight Distance', 'Inflight wifi sevice', 'Depature/Arrival convenient','Ease of Online booking',
                              'Online boarding', 'Seat comfort','Inflight enterainment', 'Inflight sevice']

manually_selected_features

['Age',
 'Gender',
 'Customer Type',
 'Class',
 'Flight Distance',
 'Inflight wifi sevice',
 'Depature/Arrival convenient',
 'Ease of Online booking',
 'Online boarding',
 'Seat comfort',
 'Inflight enterainment',
 'Inflight sevice']

In [31]:
#Load a copy from the datasets to work with
manual_train_dataset = APS_train_data
manual_test_dataset = APS_test_data

In [32]:
#Check if the dataset is already numric
manual_test_dataset

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,1,0,52,1,0,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,2
1,90035,1,0,36,1,2,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,2
2,12360,0,1,20,1,0,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,1
3,77959,0,0,44,1,2,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,2
4,36875,1,0,49,1,0,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,0,1,34,1,2,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,1
25972,71167,0,0,23,1,2,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,2
25973,37675,1,0,17,0,0,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,1
25974,90086,0,0,14,1,2,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,2
25975,34799,1,0,42,0,0,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,1

In [33]:
#Check if the dataset is already numric
manual_train_dataset

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,0,0,13,0,1,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,1
1,5047,0,1,25,1,2,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,1
2,110028,1,0,26,1,2,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,2
3,24026,1,0,25,1,2,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,1
4,119299,0,0,61,1,2,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,1,1,23,1,0,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,1
103900,73097,0,0,49,1,2,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,2
103901,68825,0,1,30,1,2,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,1
103902,54173,1,1,22,1,0,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,1
103903,62567,0,0,27,1,2,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,1

In [34]:
#Drop the non-selected column from the training and testing datasets
Colmuns_to_drop = ['id','Gate location', 'Food and drink', 'On-board service', 'Leg room service', 'Baggage handling','Checkin service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']
manual_test_dataset = manual_test_dataset.drop(columns = Colmuns_to_drop, axis = 1, inplace=False)
manual_train_dataset = manual_train_dataset.drop(columns = Colmuns_to_drop, axis = 1, inplace=False)

In [35]:
manual_test_dataset

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Online boarding,Seat comfort,Inflight entertainment,Inflight service,satisfaction
0,1,0,52,1,0,160,5,4,3,4,3,5,5,2
1,1,0,36,1,2,2863,1,1,3,4,5,4,4,2
2,0,1,20,1,0,192,2,0,2,2,2,2,2,1
3,0,0,44,1,2,3377,0,0,0,4,4,1,1,2
4,1,0,49,1,0,1182,2,3,4,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,0,1,34,1,2,526,3,3,3,3,4,4,5,1
25972,0,0,23,1,2,646,4,4,4,4,4,4,5,2
25973,1,0,17,0,0,828,2,5,1,1,2,2,4,1
25974,0,0,14,1,2,1127,3,3,3,4,4,4,5,2
25975,1,0,42,0,0,264,2,5,2,2,2,1,1,1

In [36]:
manual_train_dataset

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Online boarding,Seat comfort,Inflight entertainment,Inflight service,satisfaction
0,0,0,13,0,1,460,3,4,3,3,5,5,5,1
1,0,1,25,1,2,235,3,2,3,3,1,1,4,1
2,1,0,26,1,2,1142,2,2,2,5,5,5,4,2
3,1,0,25,1,2,562,2,5,5,2,2,2,4,1
4,0,0,61,1,2,214,3,3,3,5,5,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,1,1,23,1,0,192,2,1,2,2,2,2,3,1
103900,0,0,49,1,2,2347,4,4,4,4,5,5,5,2
103901,0,1,30,1,2,1995,1,1,1,1,5,4,5,1
103902,1,1,22,1,0,1000,1,1,1,1,1,1,4,1
103903,0,0,27,1,2,1723,1,3,3,1,1,1,3,1

In [37]:
#Call classification model and train it with the selected features
manual_model = RandomForestClassifier()
manual_X_train = manual_train_dataset.iloc[:, :-1]
manual_Y_train = manual_train_dataset['satisfaction']

manual_model.fit(manual_X_train, manual_Y_train)

RandomForestClassifier()

In [38]:
#Predict the results with the testing datasets
manual_X_test =  manual_test_dataset.iloc[:, :-1]
manual_Y_test = manual_test_dataset['satisfaction']
manual_y_pred = manual_model.predict(manual_X_test)

In [39]:
#Evaluate the results of training and testing process as we did with RFE
clf_cross_for_my_test = RandomForestClassifier()
scores = cross_val_score(clf_cross_for_my_test, manual_X_train, manual_Y_train, cv = 10, scoring='accuracy')
scores

array([0.9517852 , 0.95313252, 0.95159272, 0.95544221, 0.94966314,
       0.95341675, 0.95178056, 0.95370549, 0.95534167, 0.9533205 ])

In [40]:
cross_y_pred_for_my_test = cross_val_predict(clf_cross_for_my_test, manual_X_test, manual_Y_test, cv = 10)
report = classification_report(manual_Y_test, cross_y_pred_for_my_test)
print(report)

              precision    recall  f1-score   support

           1       0.95      0.97      0.96     14573
           2       0.95      0.93      0.94     11403

    accuracy                           0.95     25976
   macro avg       0.95      0.95      0.95     25976
weighted avg       0.95      0.95      0.95     25976

In [41]:
manual_cm_for_my_test = confusion_matrix(manual_Y_test, manual_y_pred)
manual_test_accuracy = accuracy_score(manual_Y_test, manual_y_pred)
manual_test_precision = precision_score(manual_Y_test, manual_y_pred, average='weighted')
manual_test_recall = recall_score(manual_Y_test, manual_y_pred, average='weighted')
manual_test_f1 = f1_score(manual_Y_test, manual_y_pred, average='weighted')
print("Confusion Matrix for the measurment of classification:")
print(manual_cm_for_my_test)
print("Accuracy:", manual_test_accuracy)
print("Precision:", manual_test_precision)
print("Recall:", manual_test_recall)
print("F1 Score:", manual_test_f1)

Confusion Matrix for the measurment of classification:
[[14150   423]
 [  769 10634]]
Accuracy: 0.954111487526948
Precision: 0.9542884928671984
Recall: 0.954111487526948
F1 Score: 0.9540272093819867

## As we saw in the previous result, I got accuracy with my selected features better than accuracy with RFE selected features. In addition, I will show a simple result if we use all features in classification process

In [42]:
#Load a new copy and split training, testing features inplace
all_features_train = APS_train_data
all_features_test = APS_test_data
all_features_train_X = all_features_train.iloc[:, :-1]
all_features_train_Y = all_features_train['satisfaction']
all_features_test_X = all_features_test.iloc[:, :-1]
all_features_test_Y = all_features_test['satisfaction']

In [43]:
#Train the model with all features and its labels
all_features_model = RandomForestClassifier()
all_features_model.fit(all_features_train_X, all_features_train_Y)

RandomForestClassifier()

In [44]:
#Predict the result of training
all_features_predict = all_features_model.predict(all_features_test_X)

In [45]:
#Simple evaluation on the predicted results
all_features_cm = confusion_matrix(all_features_test_Y, all_features_predict)
all_features_accuracy = accuracy_score(all_features_test_Y, all_features_predict)
all_features_precision = precision_score(all_features_test_Y, all_features_predict, average='weighted')
all_features_recall = recall_score(all_features_test_Y, all_features_predict, average='weighted')
all_features_f1 = f1_score(all_features_test_Y, all_features_predict, average='weighted')
print("Confusion Matrix for the measurment of classification:")
print(all_features_cm)
print("Accuracy:", all_features_accuracy)
print("Precision:", all_features_precision)
print("Recall:", all_features_recall)
print("F1 Score:",all_features_f1)

Confusion Matrix for the measurment of classification:
[[14301   272]
 [  636 10767]]
Accuracy: 0.965044656606098
Precision: 0.9652960334990764
Recall: 0.965044656606098
F1 Score: 0.9649767595828657

### As we see in that case, the accuracy with all features is very colse to my accuracy with my 12 selected features

# Thank you for reading!
# Reasults ended!